extends layout

block content
  
  form(action="/api/convert -resize 100x100", method="POST", enctype="multipart/form-data" id="form")
    input(type="text", name="params", id="params")
    input(type="file" name="image")
    input(type="submit")

  script(src="/javascripts/main.js")